# ==========================================
# ENVIRONMENT
# ==========================================
ENV=dev

# ==========================================
# WANSOFT - PROD
# ==========================================
WANSOFT_DB_HOST=
WANSOFT_DB_USER=
WANSOFT_DB_PASSWORD=
WANSOFT_DB_NAME=

# ==========================================
# WANSOFT - DEV
# ==========================================
WANSOFT_DB_HOST_DEV=
WANSOFT_DB_USER_DEV=
WANSOFT_DB_PASSWORD_DEV=
WANSOFT_DB_NAME_DEV=

# ==========================================
# ZENPUT - PROD
# ==========================================
ZENPUT_DB_HOST=
ZENPUT_DB_USER=
ZENPUT_DB_PASSWORD=
ZENPUT_DB_NAME=

# ==========================================
# ZENPUT - DEV
# ==========================================
ZENPUT_DB_HOST_DEV=
ZENPUT_DB_USER_DEV=
ZENPUT_DB_PASSWORD_DEV=
ZENPUT_DB_NAME_DEV=

# ==========================================
# ODOO
# ==========================================
ODOO_URL=
ODOO_DB_NAME=
ODOO_USER=
ODOO_PASSWORD=

# ==========================================
# WANSOFT PASSWORDS
# ==========================================
WANSOFT_PWD_<SUBSIDIARY_ID>=

# ==========================================
# XML DOWNLOAD DIRS
# ==========================================
XML_DOWNLOAD_DIR=
XML_DOWNLOAD_DIR_DEV=